body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: mintcream;
}
div.wrapper {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

/* Menu Navbar CSS */
div.menu {
  position: relative;
  width: 100%;
  height: 4.7rem;
  background: linear-gradient(to bottom, #2f63a2, #cb00ff);
}
ul.main-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  list-style: none;
}
ul.main-menu li a {
  margin-left: 5rem;
  font-size: 1.5rem;
  color: white;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
img.header-logo {
  position: absolute;
  top: 0.7rem;
  right: 7rem;

  z-index: 2;
}
.parallelogram {
  position: absolute;
  top: 0.6rem;
  right: 13.3rem;
  width: 3.5rem;
  height: 3.5rem;
  transform: rotate(25deg);
  background: linear-gradient(to bottom, #30ff8d, #25ffe2);
  z-index: 1;
}
/*LIVE STRIP CSS*/
.legend {
  margin-left: 10px;
}
.live-strip {
  width: 100%;
  height: 1.5rem;
  background: black;
  color: white;
  font-family: "Lato", sans-serif;
}
.live-strip-text {
  margin-left: 8rem;
  margin-right: 0;
}
.dot {
  position: absolute;
  margin-top: 0.18rem;
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  animation-iteration-count: infinite;
}
/*Main Scores CSS */
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-scores {
  position: absolute;
  width: 98%;
  top: 118%;
  left: 0%;
  text-align: center;
  font-size: 1.5rem;
  transform: translate();
}
.firstmatch,
.thirdmatch {
  background: #bababa;
}
.secondmatch,
.fourthmatch {
  background: #ddd;
}
.in-play {
  background: teal;
}
.finished {
  background: green;
}
.scheduled {
  position: relative;
  background: cyan;
  margin: 0 0;
  border: 1px solid black;
}

.match,
.firstmatch,
.secondmatch,
.thirdmatch,
.fourthmatch {
  width: 100%;
  padding: 10px 10px;
}

span {
  margin-right: 2rem;
  font-family: "Lato", sans-serif;
}

/* stylowanie meczy flexem */

.hour {
  flex-basis: 10%;

  align-self: center;
}
.team {
  flex-basis: 30%;
}
.result {
  flex-basis: 10%;
}
.team1 {
  flex-basis: 30%;
}

/* css for buttons */
.premier_league {
  margin-top: 15px;
  background-image: url("premier_league.jpg");
  background-position: center;
  background-size: contain;
  height: 220px;
  width: 250px;
  border: 0px;
}
.bundesliga {
  margin-top: 15px;
  background-image: url("bundesliga.png");
  background-position: center;
  background-size: contain;
  height: 220px;
  width: 250px;
  border: 0px;
}
.primera_division {
  margin-top: 15px;
  background-image: url("Primera_Division_Logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 220px;
  width: 250px;
  border: 0px;
  color: white;
}
.serie_a {
  margin-top: 15px;
  background-image: url("seriea.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 220px;
  width: 250px;
  border: 0px;
  color: white;
}
.container3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 110%;
  left: 38%;
}

/* css of tables */
.tables_look {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border: 1px solid black;
  align-content: space-between;
}
.position {
  flex-basis: 5%;
}
.team_name {
  flex-basis: 50%;
}
.won_number {
  flex-basis: 5%;
}
.draw_number {
  flex-basis: 5%;
}
.lost_number {
  flex-basis: 5%;
}
.points_number {
  flex-basis: 5%;
}
.goals_for {
  flex-basis: 5%;
}
.goals_against {
  flex-basis: 5%;
}
.goal_diff {
  flex-basis: 5%;
}
